<div class="example-container">
  <h2>选项</h2>

  <div
      #todoList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[doneList]"
      [cdkDropListData]="todo"
      cdkDropList
      class="example-list">
    <div *ngFor="let item of todo" [attr.data-type]="item" cdkDrag class="example-box">{{item}}</div>
  </div>
</div>

<div class="example-container double-width ">
  <h2>表单</h2>

  <div
      #doneList="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[todoList]"
      [cdkDropListData]="done"
      cdkDropList
      class="example-list">
    <div *ngFor="let item of done; let i=index" cdkDrag class="example-box example-box-fixed-width">
      <app-dynamic-item [options]="item">

        <div *cdkDragPlaceholder class="example-custom-placeholder"></div>
      </app-dynamic-item>
    </div>
  </div>
</div>


<pre>
  {{done|json}}
</pre>

